<% if signed_in? %>
	<div class="container" align="center">
		<div class="row" align="center">
			<div id="DIV_POST_TWEET" class="well" style='max-width:800px;margin-top:0px;padding-bottom:0px;'>
				<%= render :partial=>"/tweets/ajax_form", :locals=>{:tweet=>Tweet.new} %>
			</div>
		</div>
	</div>
<% end %>

<div class="container" align="center">
	<div class="row" align="center">
		<div id="DIV_TWEETS" class="well" style='max-width:800px;margin-top:0px;'>
			<%= render :partial=>"index" %>
		</div>
	</div>
</div>

