<div class="container" align="center">
	<div class="row">
		<div class="well" style='max-width:400px;'>
			<h2 class="form-heading">Post a new Tweet!</h2>
			<%= render 'form' %>
			<div class="cl-10"></div>
		</div>
	</div>
</div>
