<footer>
  <div class="section-3">
    <div class="container">
      <div class="row">
        <!-- about us -->
        <div class="span6">
          <h5>Exercise - Twitter App</h5>
          <div class="clearfix p1">
            <p class="text-info"><i>Create a simple twitter like application that allows a user to tweet(limit to 160 characters), retweet other people tweets and follow people. 
						Just a bare bone application with no multimedia (image) uploads. Make sure you create a unique user name for each user. 
						At the time of signup so that his profile can be visited by app.com/user_name. 
						Tweets will be private and public. Private tweets can only be re-tweeted by the user's followers. 
						But public tweets can be retweeted by any registered user.. 
						Also include Unit and Functional test cases.</div>
        </div>
        <!-- links -->
        <div class="span6">
          <h5>Useful Links</h5>
          <ul class="list">
            <li><a href="http://guides.rubyonrails.org/getting_started.html">Guides - Ruby on Rails</a></li>
            <li><a href="http://developer.apple.com/tools/rubyonrails.html" nofollow='true'>Rails Development on MAC</a></li>
            <li><a href="http://rails.homelinux.org/">Four days on Rails</a></li>
            <li><a href="http://www.ibm.com/developerworks/linux/library/l-rubyrails/">Fast track your web apps</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- footer 2 -->
  <div class="footer-2">
    <div class="container">
      <div class="row">
				<div class="span8"></div>
        <div  class="span4">Krishnaprasad Varma &copy; 2012 <a href="#">Privacy Policy</a></div>
				<div class="cl"></div>
      </div>
    </div>
  </div>
</footer>