development:
  adapter: postgresql
  #adapter: sqlite3
  #adapter: mysql2
  
  database: twitter_like_app_development
  database: db/development.sqlite3
  
  encoding: utf8
  reconnect: false
  
  database: twitter_like_app_development
  database: db/development.sqlite3
  
  pool: 5
  username: krishnan
  password: 
  
  #socket: /var/lib/mysql/mysql.sock

test:
  adapter: postgresql
  #adapter: sqlite3
  #adapter: mysql2
  
  database: twitter_like_app_test
  #database: db/development.sqlite3
  
  encoding: utf8
  reconnect: false
  pool: 5
  
  username: <username>
  password: <password>
  
  #socket: /var/lib/mysql/mysql.sock

staging:
  adapter: postgresql
  #adapter: sqlite3
  #adapter: mysql2
  
  database: twitter_like_app_production
  #database: db/development.sqlite3
  
  encoding: utf8
  reconnect: false
  pool: 5
  
  username: <username>
  password: <password>
  
  #socket: /var/lib/mysql/mysql.sock
  
demo:
  adapter: postgresql
  #adapter: sqlite3
  #adapter: mysql2
  
  database: twitter_like_app_production
  #database: db/development.sqlite3
  
  encoding: utf8
  reconnect: false
  pool: 5
  
  username: <username>
  password: <password>
  
  #socket: /var/lib/mysql/mysql.sock
  
production:
  adapter: postgresql
  #adapter: sqlite3
  #adapter: mysql2
  
  database: twitter_like_app_production
  #database: db/development.sqlite3
  
  encoding: utf8
  reconnect: false
  pool: 5
  
  username: <username>
  password: <password>
  
  #socket: /var/lib/mysql/mysql.sock
